
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
     font-family: 'Ubuntu Condensed', sans-serif;
}
/*
 .trade-Mark{
     background-color: azure;
    width: 420px;
    margin-top: 0px;
    height: 58px;
    position: relative;
    top: 110px;
    left: 504px;
    justify-content: center;
    display: flex;
    align-items: center;
 }  */


 
 h1{
    
    width: 420px;
    margin-top: 0px;
    height: 58px;    
    top: 110px;
    left: 504px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(26, 23, 23);
} 

h1::before{
    width: 0%;
    height: 5%;
    content: " ";
    position: absolute; 
    background-color: rgb(57, 202, 154);
    transition: 2s;
    top: 100%;
    right:  0px;
}

h1::after{
    width: 0%;
    height: 5%;
    content: " ";
    position: absolute;
    background-color: rgb(57, 202, 154);
    transition: 2s;
    top: 0%;
    left: 0px;
}
h1:hover::before{
    width: 100%;
    height: 5%;
    content: " ";
    position: absolute; 
    background-color: rgb(57, 202, 154);
    transition: 2s;
    top: 100%;
     
}
h1:hover::after{
    
    width: 100%;
    height: 5%;
    content: " ";
    position: absolute;
    background-color: rgb(57, 202, 154);
    transition: 2s;
    top: 0%;
    
}
*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   height: 45px;

}
.container{
   width: 1000px;
   height: 200px;
   background-color: tomato; 
   position: relative;
   top: 200px;
   left: 200px;
   opacity: 10;
   /* flex box container properties */
   display: flex;
   justify-content: space-around;
 flex-wrap: wrap;
   
    
}

.div{
    /* flex box items properties */
    /* align-self: center;  */
    flex-basis: 200px;
    height: 200px; 
    transition: height, 3s,linear,3s;
}
/* .over-image{
    width: 63%;
    height: 145%;
    background-color: peru;
    position: absolute;
    top: 110%;
} */
.container .div:hover {
    height: 100px;
    width: 100px;
    opacity: 0.8;
    
    border-radius: 50%;
   
}

    .box {
        width: 22%;
        float: left;
        height: 382%;
        top: 226px;
        margin: 112px 22px;
        border-radius: 15px;
        border-style: hidden;
        margin-top: 27px;
        background-image: url(pic1.jpg);
        background-size: 100% 100%;
        transition: 1s;
        background-position: center;
        position: relative;
        left: 351px;
}

.box:hover{
    background-size: 110% 110%;
}
p::first-line{
    font-weight: 900;
    font-style: italic;
    font-family: sans-serif;
    font-size: 30px;
}
p::before{
    content: attr(data-text);
    /* background-size: 110% 110%; */
    position: absolute;
    top: 35%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    text-align: center;
    justify-content: center;
    color: white;
    vertical-align: middle;
    word-wrap: break-word;
    overflow: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1.5s;
    border-style: hidden;
    border-radius: 15px;
}
p:hover:before{
    opacity: 1;
top: 0%;
}
/* .utube{
    position: relative;
    top: 60%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(161, 103, 16);
   
    transition: 2s;
} */
.utube:hover{
    opacity: 1;
    top: 0%;
}
#maindiv{
    height:300px;
    width:300px;
  box-shadow:2px 3px 14px 8px #484543 ;
  position:relative;
   margin:0px 15px;
  background-size:100% 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9C4ECe6vSl6E72QG98YRUCvudinX8PMANJg&usqp=CAU');
background-size:100% 100%;
/*   background-repeat:no-repeat; */
  animation:slider 9s infinite linear;
}
@keyframes slider{
  0%{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9C4ECe6vSl6E72QG98YRUCvudinX8PMANJg&usqp=CAU')  ;
    background-size:100% 100%;
  }
  35%{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfintXVKwy4MNE_uVOcbmlAMpY0dKNxfEYXA&usqp=CAU');
    background-size:100% 100%;
  }
  75%{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOSO5KhPDY96rYT14pcIbQEGgBy-JYDYS-Mw&usqp=CAU');
    background-size:100% 100%;}
}